html, body {
    font-family: 'Inter', sans-serif;
  }
  
  .telaconfirma {
  
    width: 100vw;
    height: 100vh;
    align-items: safe center;
    display: flex;
    flex-direction: column;
  }
  
  .telaconfirma .navbar {
    display: flex;
    height: 4vh;
  }

  .telaconfirma .msgemail {
    width: 242px;
    height: 50px;
    flex-shrink: 0;
    color: #000000;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 60px;
  }
  
  .telaconfirma .endemail {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: top;
    margin-top: 30px;
    background-color: #F8F8F8;
    color: #000000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 8px; 
    padding: 20px;
    width: 95vw;
    margin-bottom: 50px;
  }  

  .telaconfirma .button1 {
    width: 242px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 95px;
    background: #6800E4;
    border: none;
    margin-bottom: 50px;
  
    font-size: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D9D9D9;
    cursor: pointer;
    opacity: 0.9;
    transition: 0,3s;
  }
  
  .telaconfirma .instrucont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: top;
    background-color: #F8F8F8;
    color: #000000;
    text-align: left;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 8px; 
    padding: 20px;
    width: 95vw;
    margin-bottom: 20px;
    height: 100vw;
  }  