* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  font-family: 'Inter', sans-serif;
}

.logop .img {
  width: 5vw;
  height: 5vh;
}

.entrar {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-image: linear-gradient( to top left, #F95757, #6800E4 80%);
}

.entrar .logop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  margin-top: 40px;
}

.logop img {
  width: 300px;
  height: 100px;
  object-fit: fill;
}

.entrar .intro {
  display: flex;
  justify-content: center;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 40px;
  margin-bottom: 40px;

  color: #F8F8F8;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#intro p {
  background: #F8F8F8;
}

Form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

.entrar .form-field1 {
  display: flex;
  padding: 20px;
  width: 300px;
  height: 58px;
  margin-bottom: 22px;
  border: none;
  background: #F8F8F8; 
  border-radius: 7px;
}

.entrar .form-field2 {
  display: flex;
  padding: 20px;
  width: 300px;
  height: 58px;
  margin-bottom: 22px;
  border: none;
  background: #F8F8F8; 
  border-radius: 7px;
}

.entrar .button1 {
  width: 300px;
  height: 58px;
  border-radius: 95px;
  background: #6800E4;
  border: none;
  margin-bottom: 22px;
  font-size: 20px;
  color: #D9D9D9;
  cursor: pointer;
  opacity: 0.9;
  transition: 0,3s;
}

.entrar .buttondiv2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

.entrar .button2 {
  width: 300px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 95px;
  border: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.9;
  transition: 0,3s;
}

#cadlink li a{
  color: #D9D9D9;
}

.button1:hover, .button2:hover {
  opacity: 1;
}